@use '../components/buttons-effects';

.ar-home {
  padding: 0;
  margin: 0;
  background-color: var(--dark-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light-1);
}

.ar-home___spacer {
  // height: max(20vh, 2rem);
  flex: 1;
}

.ar-home___content {
  // background-color: var(--dark-2);
  // height: min(60vh, calc(100vh - 4em));
  flex: 6;
  display: flex;
  flex-direction: row;
}

.ar-home___content-cover {
  display: flex;
  padding: 1em;
  background-image: url('../../../static/covers/europa.jpg');
  background-size: cover;
  background-position: center;
  align-items: center;
  flex: 4;
}
.ar-home-h1 {
  color: var(--light-1);
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
}

.ar-home-h2 {
  color: var(--light-1);
  font-weight: 200;
  font-size: 1.3rem;
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  letter-spacing: 0.2em;
  padding-left: 0.5rem;
  margin: 1em auto;
  text-align: center;
}

.ar-home___content-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

.ar-home___content-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  & > a {
    color: var(--light-1);
    opacity: 0.7;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0.5em 0;
    padding: 0.5em;
  }
}
